{% extends './base.html.twig' %}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block body %}

<div class="hello">

  <img class=displayed src=/framework-bundle/images/nodefony-logo.png>
  <h1 style="font-size:8em">{{ name }}</h1>
  <h2>{{ description }}</h2>
  <h2>{{ binding }}</h2>
  <img class="displayed"  style=" width:10%; height:10%" src="/framework-bundle/images/nodejs/nodejs-new-pantone-black.png">
  <img class="displayed" style=" width:15%; height:15%" src="/framework-bundle/images/webpack/webpack.svg">
  <img class="displayed" style=" width:5%; height:5%" src="/framework-bundle/images/c++.png">
  <p></p>
  <img class="displayed" style=" width:5%; height:5%" src="/webAssembly-bundle/images/2880px-WebAssembly_Logo.svg.png">
  <img class="displayed" style=" width:5%; height:5%" src="/webAssembly-bundle/images/logo-langage-C-480x480.png">
</div>

{% endblock %}
