#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

*.[oa]

# Eclipse file
/.project
/.settings
/nbproject/private/



.git
.github
.travis
.travis.yml
.babelrc
.jshintrc
.jshintignore
.gitmodules
.bithoundrc
.grenrc.json
.editorconfig
.core

*.db

npm-debug.log
yarn-error.log


/node_modules
/bundles
