#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

*.[oa]

# Eclipse file
/.project
/.settings
/nbproject/private/


.github
.travis
.travis.yml
.gitmodules
.bithoundrc
.grenrc.json
.core

npm-debug.log
yarn-error.log

node_modules
node_modules/**
**/node_modules/**
/node_modules
/bundles

/cli/builder/bundles/users-bundle/Resources/public/assets
/cli/builder/bundles/users-bundle/yarn.lock
/cli/builder/bundles/users-bundle/package-lock.json
