{% extends '../base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      {% include '../../documentation/navbar.html.twig' with {
        'route' : nodefony.route
      } %}
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" style="top: 5rem;">
        <h1>Web Application Firewall</h1>

        <h2>
          WAF
        </h2>
        <p>
          Firewall is service who manage security of requests  HTTP or WEBSOCKET.  </br>
          You can find in the service </br>
          <ul>
            <li>CORS ( Cross-origin resource sharing )</li>
            <li>CSP ( Content Security Policy )</li>
            <li>Authentications</li>
            <li>Authorisations ( roles )</li>
            <li>ACL ( Access Controls List )</li>
          </ul>
        </p>
        <p>
          <img src="/documentation-bundle/images/firewall.png" />
        </p>

      </main>
    </div>
  </div>
{% endblock %}
