assets
**/assets/**
app/Resources/public/assets/
app/Resources/views/base.html.twig
src/bundles/test-bundle/Resources/public/assets/
src/bundles/webAssembly-bundle/build
config/generatedConfig.yml
src/bundles/webAssembly-bundle/build
app/Resources/databases/*
src/nodefony/cli/builder/skeletons/package.json
**/skeletons/**
node_modules
**/node_modules/**
src/nodefony/tests/data

**/workbox-*

**/hot/*

**/service-worker.js

**/old/**
