#Ignore directory
/tmp/*
/web/*

#**/assets/**
app/Resources/public/assets/
src/bundles/test-bundle/Resources/public/assets/

config/generatedConfig.yml

app/Resources/databases/*
app/*.db

node_modules/**
**/node_modules/**
**/precache-manifest*
npm-debug.log
yarn-error.log

package-lock.json/**
**/package-lock.json/**
yarn.lock/**
**/yarn.lock/**
*.[oa]

config/certificates/**/*

#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store
.ftpconfig
.ftpignore

.srl
# Eclipse file
/.project
/.settings
/nbproject/private/
