#Ignore directory
/tmp/*
/web/*

assets
**/assets/**
app/Resources/public/assets/
app/Resources/views/base.html.twig
src/bundles/test-bundle/Resources/public/assets/
src/bundles/webAssembly-bundle/build
src/nodefony/browser/dist
config/generatedConfig.yml
src/nodefony/bundles/documentation-bundle/Resources/clones/nodefony-core
src/bundles/webAssembly-bundle/build

app/Resources/databases/*
app/*.db

node_modules/**
**/node_modules/**
**/precache-manifest*
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.~lock*

yarn.lock
package-lock.json
package-lock.json/**
**/package-lock.json/**
yarn.lock/**
**/yarn.lock/**
*/yarn.lock
*/package-lock.json
*.[oa]

config/certificates/**/*

**/assets/**/*.map
src/**/assets/**/*.map

#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store
.ftpconfig
.ftpignore

.srl
# Eclipse file
/.project
/.settings
/nbproject/private/
