#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

*.[oa]

# Eclipse file
/.project
/.settings
/nbproject/private/

.git
.github
.travis
.travis.yml
.babelrc
.jshintrc
.jshintignore
.gitmodules
.bithoundrc

*.db

npm-debug.log

#**/assets/**
**/tests/**


/Makefile
/console
/nodefony
/nodefony_dev
/nodefony_pm2

/node_modules
/config
/app
/tmp
/bin
/web
/src/bundles
/docker





