#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

*.[oa]

# Eclipse file
/.project
/.settings
/nbproject/private/

.git
.github
.travis
.travis.yml
.babelrc
.jshintrc
.jshintignore
.gitmodules
.bithoundrc
.grenrc.json


*.db

npm-debug.log
yarn-error.log



/Makefile
/node_modules
/config
/app
/tmp
/web
/src/bundles
/docker
/tools
