<div class="page-header">
  <h1>Nodefony start in <strong>development</strong> mode</h1>
</div>

<div class="doc2 jumbotron">

<p>
	<strong><h2>MODE  development </h2></strong>

	This mode is useful in development or debug   <br>

	<ul>
		<li>  No clusters </li>
		<li>  Watcher templates twig (autoload and compile templates files) </li>
		<li>  Watcher controllers (autoload controllers files) </li>
		<li>  Watcher translation (autoload translation files) </li>
		<li>  Watcher webpack (autoload and compile assets files) </li>
		<li>  Syslog in terminal to follow debug  </li>
	</ul>
</p>


	<div class="alert alert-danger" role="alert">
		!! In this mode You must restart nodefony when you <strong>add new</strong> :

		<ul>
			<li>   <strong>bundle</strong>   </li>
			<li>   <strong>service</strong> in a bundle  </li>
		</ul>
		!! In this mode You must restart nodefony when you <strong>edit</strong> :
		<ul>
			<li>   <strong>configuration files</strong> ( security.yml , config.yml, service.js ) </li>
			<li>   <strong>bundle class file</strong> ( nameBundle.js )  </li>
			<li>   <strong>service class file</strong> ( nameService.js ) </li>
		</ul>
	</div>

</div>


<h2>Location :</h2>
<div class="doc2">
	<p>
		 <code>nodefony</code>
	</p>

	<pre>
    .
  ├── CHANGELOG.md
  ├── LICENSE.txt
  ├── README.md
  ├── app
  ├── bin
  ├── config
  ├── doc
  ├── node_modules
  ├── package-lock.json
  ├── package.json
  ├── src
  ├── tmp
  ├── web
  └── yarn.lock
	</pre>
</div>

<h2>Run :</h2>
<div class="doc2 ">

<p>
	To launch nodefony in development mode :
</p>
	<pre>
$ <strong>nodefony dev</strong>
                                              _                 _
 _ __ ___    _   _   _ __    _ __    ___     (_)   ___    ___  | |_
| '_ ` _ \  | | | | | '_ \  | '__|  / _ \    | |  / _ \  / __| | __|
| | | | | | | |_| | | |_) | | |    | (_) |   | | |  __/ | (__  | |_
|_| |_| |_|  \__, | | .__/  |_|     \___/   _/ |  \___|  \___|  \__|
             |___/  |_|                    |__/

Version : 1.0.0 Platform : darwin Process : myproject PID : 53428

KERNEL SERVER Cluster : master Environment : dev Debug :false

Fri Sep 14 2018 15:52:48 WARNING BUNDLE unittests : Bundle unittests controller directory not found
Fri Sep 14 2018 15:52:48 WARNING SERVICE ROUTER : ROUTE HAS SAME NAME : documentation path : /documentation controller : demo:demo:readme
Fri Sep 14 2018 15:52:48 WARNING BUNDLE app :  OVERRIDING  CONFIG bundle  : mongo BUT BUNDLE mongo NOT YET REGISTERED
Fri Sep 14 2018 15:52:48 INFO nodefony : INSTALL ASSETS LINK IN WEB PUBLIC DIRECTORY  : /Users/cci/repository/nodefony/web
(node:53428) ExperimentalWarning: The http2 module is an experimental API.
Fri Sep 14 2018 15:52:49 INFO sequelize  :  REGISTER ENTITY : requests PROVIDE BUNDLE : sequelize
Fri Sep 14 2018 15:52:49 INFO sequelize  :  REGISTER ENTITY : session PROVIDE BUNDLE : sequelize
Fri Sep 14 2018 15:52:49 INFO sequelize  :  REGISTER ENTITY : user PROVIDE BUNDLE : sequelize
Fri Sep 14 2018 15:52:49 INFO CONNECTION Sequelize nodefony : Connection been established successfully Type : sqlite Database : /app/Resources/databases/nodefony.db
Fri Sep 14 2018 15:52:49 INFO SERVICE sockjs  :  Create sockjs server :   HTTPS
Fri Sep 14 2018 15:52:49 INFO MEMORY rss : MEMORY POST READY  ( Resident Set Size ) PID ( 53428 ) : 153 MB
Fri Sep 14 2018 15:52:49 INFO MEMORY heapTotal : MEMORY POST READY  ( Total Size of the Heap ) PID ( 53428 ) : 124 MB
Fri Sep 14 2018 15:52:49 INFO MEMORY heapUsed : MEMORY POST READY  ( Heap actually Used ) PID ( 53428 ) : 99 MB
Fri Sep 14 2018 15:52:49 INFO MEMORY external : MEMORY POST READY  PID ( 53428 ) : 881 KB
Fri Sep 14 2018 15:52:49 INFO SERVICE SERVER STATICS  : Server Static RootDir  ==> /Users/cci/repository/nodefony/web
Fri Sep 14 2018 15:52:49 INFO BUNDLE monitoring : ADD DEBUG BAR MONITORING
Fri Sep 14 2018 15:52:54 INFO SERVICE WEBPACK  : WEBAPCK Compile Bundle demo
Fri Sep 14 2018 15:52:55 INFO SERVICE MONITORING  : Create server MONITORING listen on Domain : localhost Port : 1318
Fri Sep 14 2018 15:52:55 INFO SERVICE REALTIME : Create server DMSG listen on Domain : localhost Port : 1316
Fri Sep 14 2018 15:52:55 INFO SERVICE REALTIME : Create server RANDOM listen on Domain : localhost Port : 1315
Fri Sep 14 2018 15:52:55 INFO SERVICE SERVER HTTP  : Listening on DOMAIN : http://127.0.0.1:5151
Fri Sep 14 2018 15:52:55 INFO SERVICE SERVER WEBSOCKET  : Listening on DOMAIN : ws://127.0.0.1:5151
Fri Sep 14 2018 15:52:55 INFO SERVICE SERVER HTTPS  : Listening on DOMAIN : https://127.0.0.1:5152
Fri Sep 14 2018 15:52:55 INFO SERVICE SERVER WEBSOCKET SECURE  : Listening on DOMAIN : wss://127.0.0.1:5152
Fri Sep 14 2018 15:52:56 INFO SERVICE SESSIONS  : CONTEXT default SEQUELIZE SESSIONS STORAGE  ==>  ORM COUNT SESSIONS : 0
Fri Sep 14 2018 15:53:03 INFO SERVICE WEBPACK  : COMPILE SUCCESS BUNDLE : demo-bundle webpack.config.js
Fri Sep 14 2018 15:53:03 INFO BUNDLE demo : MEMORY clean webpack compile bundle : demo
Fri Sep 14 2018 15:53:03 INFO SERVICE WEBPACK  : WEBAPCK Compile Bundle app
Fri Sep 14 2018 15:53:07 INFO SERVICE WEBPACK  : COMPILE SUCCESS BUNDLE : app webpack.config.js
Fri Sep 14 2018 15:53:07 INFO BUNDLE app : MEMORY clean webpack compile bundle : app
Fri Sep 14 2018 15:53:07 INFO SERVICE WEBPACK  : WEBPACK COMPILE FINISH
	</pre>
</div>

<h2>Debug :</h2>
<div class="doc2 ">

<p>
	To start nodefony in development mode debug :
</p>
	<pre>
$ <strong>nodefony -d dev</strong>
                                              _                 _
 _ __ ___    _   _   _ __    _ __    ___     (_)   ___    ___  | |_
| '_ ` _ \  | | | | | '_ \  | '__|  / _ \    | |  / _ \  / __| | __|
| | | | | | | |_| | | |_) | | |    | (_) |   | | |  __/ | (__  | |_
|_| |_| |_|  \__, | | .__/  |_|     \___/   _/ |  \___|  \___|  \__|
             |___/  |_|                    |__/

Version : 1.0.0 Platform : darwin Process : myproject PID : 53445


KERNEL SERVER Cluster : master Environment : dev Debug :true

Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : EVENT KERNEL : onCluster
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : http-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/http-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : framework-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/framework-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : security-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/security-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : sequelize-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/sequelize-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : realtime-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/realtime-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : monitoring-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/monitoring-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : documentation-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/documentation-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find Core Bundle Package : unittests-bundle in : /Users/cci/repository/nodefony-core/src/nodefony/bundles/unittests-bundle
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : Find NPM Bundle Package : @nodefony/demo-bundle in : /Users/cci/repository/nodefony/node_modules/@nodefony/demo-bundle/demoBundle.js
Fri Sep 14 2018 15:55:44 DEBUG KERNEL SERVER  : EVENT KERNEL : onPreRegister
Fri Sep 14 2018 15:55:44 DEBUG KERNEL :  REGISTER BUNDLE : http
Fri Sep 14 2018 15:55:44 DEBUG BUNDLE http : Register Service : httpKernel
Fri Sep 14 2018 15:55:44 DEBUG BUNDLE http : Register Service : httpServer
Fri Sep 14 2018 15:55:44 DEBUG BUNDLE http : Register Service : httpsServer
Fri Sep 14 2018 15:55:45 DEBUG BUNDLE http : Register Service : sockjs
Fri Sep 14 2018 15:55:45 DEBUG BUNDLE http : Register Service : serverStatics
Fri Sep 14 2018 15:55:45 DEBUG BUNDLE http : Register Service : websocketServerSecure
Fri Sep 14 2018 15:55:45 DEBUG BUNDLE http : Register Service : websocketServer
Fri Sep 14 2018 15:55:45 DEBUG BUNDLE http : Register Service : sessions
Fri Sep 14 2018 15:55:45 DEBUG BUNDLE http : Register Service : upload
...


    </pre>
</div>

<h2>Stop :</h2>
<div class="doc2 ">

<p>
	To stop nodefony in development mode :
</p>
	<pre>
$ &lt;ctrl-c&gt;

Fri Sep 14 2018 15:54:55 CRITIC nodefony : SIGINT
Fri Sep 14 2018 15:54:55 INFO SERVICE SERVER WEBSOCKET  :  SHUTDOWN WEBSOCKET Server is listening on DOMAIN : 127.0.0.1    PORT : 5151
Fri Sep 14 2018 15:54:55 INFO SERVICE SERVER WEBSOCKET SECURE  :  SHUTDOWN WEBSOCKET SECURE Server is listening on DOMAIN : 127.0.0.1    PORT : 5152
Fri Sep 14 2018 15:54:55 INFO SERVICE MONITORING  : SHUTDOWN server MONITORING listen on Domain : localhost Port : 1318
Fri Sep 14 2018 15:54:55 INFO SERVICE REALTIME : SHUTDOWN server DMSG listen on Domain : localhost Port : 1316
Fri Sep 14 2018 15:54:55 INFO SERVICE REALTIME : SHUTDOWN server RANDOM listen on Domain : localhost Port : 1315
Fri Sep 14 2018 15:54:55 INFO SERVICE SERVER HTTP  : HTTP SHUTDOWN Server is listening on DOMAIN : 127.0.0.1    PORT : 5151
Fri Sep 14 2018 15:54:55 INFO SERVICE SERVER HTTPS  : HTTPS SHUTDOWN Server is listening on DOMAIN : 127.0.0.1    PORT : 5152
Fri Sep 14 2018 15:54:55 INFO KERNEL SERVER  : NODEFONY Kernel Life Cycle Terminate CODE : 0
	</pre>
</div>
