{% extends "./layout.html.twig" %}
{% block bodyContent %}
  <div class="col-lg-12">
    <div class="jumbotron bg-danger m-t-xxl">
      {% if error.message %}
        <h1 class="text-shadow m-b-lg">ERROR 401 -
          {{  error.message  }}</h1>
      {% else %}
        <h1 class="text-shadow m-b-lg">ERROR 401 - Unauthorized !</h1>
      {% endif %}
      <p>The requested URL :
        <b style="font-size: 20px"></b>
      </p>
      <p>
        <pre>{{ error.url }} {{ error.code }} </pre>
      </p>
    </div>
  </div>
{% endblock %}
