.DS_Store
node_modules
/dist
/Resources/public/hot
/Resources/public/img
/Resources/views/base.graphiql.html.twig
/Resources/views/base.html.twig
/Resources/views/index.html.twig
/Resources/public/fonts.css


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
