{% extends '../base.html.twig' %}

{% block title %}{{title|escape}}{% endblock %}

{% block stylesheets %}
  <!-- WEBPACK BUNDLE -->
{% endblock %}

{% block body %}
<main>
  <div id="swagger"></div>
</main>
{% endblock %}

{% block javascripts %}
  <!-- WEBPACK BUNDLE -->
{% endblock %}
