{% extends '/app/Resources/views/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- WEBPACK BUNDLE -->
  <link rel='stylesheet' href='{{CDN("stylesheet")}}/test-bundle/assets/css/swagger.css'/>
{% endblock %}

{% block body %}
<div id="swagger"></div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <!-- WEBPACK BUNDLE -->
  <script src='{{CDN("javascript")}}/test-bundle/assets/js/swagger.js'></script>

{% endblock %}
