{% extends './base.html.twig' %}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block body %}

<div class="hello">
  <h1>{{ description }}</h1>
</div>

{% endblock %}
