
<div class="page-header">
  <h1><strong>Application</strong> </h1>

	<div class="alert alert-info" role="alert">
		<strong>
		Bundle Application is the entry point of framework, is the kernel instance of nodefony</br>
		App is a special bundle its behavior differs from other bundles<br>
		This Bunlde is responsible  for :
		<ul>
			<li>overloading Configurations and Views from other bundles </br>
		</ul>
		</strong>
	</div>
</div>

<h2 > You can see HERE :</h2>

<p>
	<ul>
		<li><a href="#location"> Location Bundle Application</a></li>
		<li><a href="#config"> Configuration Bundle Application</a></li>
		<li><a href="#entry"> Application  Entry Point</a></li>
	</ul>
<p>
<h2 name="location" id="location">Location Bundle Application  :</h2>
<div class="doc2">
	<p>
		You can find bundle repository under rootdir <code>./app</code> directory.

	</p>

	<pre>
$ ll app/

total 32
drwxr-xr-x  3 cci  staff  102  6 sep  2017 Fixtures
drwxr-xr-x  7 cci  staff  238  9 avr 10:06 Resources
-rw-r--r--  1 cci  staff  312  9 jul 09:56 appKernel.js
drwxr-xr-x  8 cci  staff  272  2 jul 10:05 config
drwxr-xr-x  3 cci  staff  102 12 jui 09:53 controller
drwxr-xr-x  3 cci  staff  102 20 nov  2017 doc
drwxr-xr-x  4 cci  staff  136 25 jul 18:30 node_modules
-rw-r--r--  1 cci  staff   66  8 jui 09:51 package-lock.json
-rw-r--r--  1 cci  staff  390  8 jui 09:51 package.json
-rw-r--r--  1 cci  staff    0  6 sep  2017 readme.md
-rw-r--r--  1 cci  staff   86 24 jul 17:29 yarn.lock
	</pre>
</div>

<h2 name="config" id="config">Configuration Application  :<small> See <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:'nodefony', queryString:{'subsection':'application'} })}}">Application config</a></small> </h2>
<div class="doc2">
	<p>

	</p>
</div>

<h2 name="entry" id="entry">Application  Entry Point   :  <code style="text-transform: initial;">appKernel.js</code> <small>see <a href="{{ path('documentation-section',{section:'running', version:version, bundle:'nodefony',queryString:{'subsection':'developement'} })}}#script">Running Nodefony Startup Script </a></small></h2>
<div class="doc2">
	<p>
	<div class="alert alert-warning" role="alert">
			Contrary to other bundles, App bundle has :  </br>
			<ul>
				<li>
					No file pattern type :   <code>nameBundle.js</code> but  : <code> appKernel.js </code>
				</li>
			</ul>
		</div>
	</p>
	<p>
		<code>./app/appKernel.js</code>
	</p>
	<pre>
/*
 *  ENTRY POINT FRAMEWORK APP KERNEL
 */
"use strict;";
nodefony.require = require;
module.exports = class appKernel extends nodefony.kernel {
  constructor(environment, cli, settings) {
    // kernel constructor
    try {
      super(environment, cli, settings);
    } catch (e) {
      throw e;
    }
  }
};
	</pre>
</div>
