{% extends './base.html.twig' %}

{% block body %}

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    {% include './navbar.html.twig' %}
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" style="top: 5rem;">


      <div class="page-header">
        <h1><strong>NODEFONY FRAMEWORK</strong> </h1>

      </div>


      <h2 > You can see here :</h2>

      <p>
      	<ul>
          <li>
            <a href="{{url("framework-doc",{
            section:"controller"
            })}}">Controller</a>
          </li>

          <li>
            <a href="{{url("framework-doc",{
            section:"routing"
            })}}">Routing</a>
          </li>
          <li>
            <a href="{{url("framework-doc",{
            section:"view"
            })}}">Views and Templates</a>
          </li>

          <li>
            <a href="{{url("framework-doc",{
            section:"translation"
            })}}">Translation</a>
          </li>

      	</ul>
      <p>


      <h2 name="" id="">MVC ARCHITECTURE  :</h2>

      <div class="doc2">

      	<p>
      		<img src="/documentation-bundle/images/requestMvc.png" />
      	</p>

      </div>


    </main>
  </div>
</div>





{% endblock %}
