<div class="page-header">
	<h1> Angular Bundle   <span class="label label-success" style="font-size: 50%;"> {{version}} </span></h1>
</div>

<h2>Generate Angular Bundle :</h2>

<br/>
<p>
    Nodefony can generate a bundle who Generating and serving an Angular project via a Nodefony development server</br>
    This Generator use <a href="https://github.com/angular/angular-cli">  angular-cli </a> To manage configure and eject configurations angular Project
</p>
Command console to Generate new bundle :    <strong>generate:bundle:angular nameBundle path</strong>
<pre>
$ <strong>./nodefony generate:bundle:angular helloBundle src/bundles</strong>
          _   _    ___    ____    _____   _____    ___    _   _  __   __
         | \ | |  / _ \  |  _ \  | ____| |  ___|  / _ \  | \ | | \ \ / /
         |  \| | | | | | | | | | |  _|   | |_    | | | | |  \| |  \ V /
         | |\  | | |_| | | |_| | | |___  |  _|   | |_| | | |\  |   | |
         |_| \_|  \___/  |____/  |_____| |_|      \___/  |_| \_|   |_|

          Version : 3.0.0-beta Platform : darwin Process : nodefony PID : 56051

        NODEFONY CONSOLE Cluster : master Environment : prod Debug :false
                                                      _
          __ _    ___   _ __     ___   _ __    __ _  | |_    ___
         / _` |  / _ \ | '_ \   / _ \ | '__|  / _` | | __|  / _ \
        | (_| | |  __/ | | | | |  __/ | |    | (_| | | |_  |  __/
         \__, |  \___| |_| |_|  \___| |_|     \__,_|  \__|  \___|
         |___/
 Fri Aug 04 2017 11:58:03 INFO SERVICE Angular Cli   : GENERATE Angular Bundle : hello LOCATION : /Users/cci/repository/nodefony-core/src/bundles
  Fri Aug 04 2017 11:58:03 INFO SERVICE Angular Cli   : install angular cli : ng new -v -sg helloBundle
  Fri Aug 04 2017 11:58:03 INFO SERVICE CLI KERNEL  : Run Spawn : /Users/cci/repository/nodefony-core/node_modules/.bin/ng new -v -sg helloBundle
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  : installing ng
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create .editorconfig
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create README.md
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create src/app/app.component.css
   create src/app/app.component.html
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create src/app/app.component.spec.ts
   create src/app/app.component.ts
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create src/app/app.module.ts
   create src/assets/.gitkeep
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create src/environments/environment.prod.ts
   create src/environments/environment.ts
   create src/favicon.ico
   create src/index.html
   create src/main.ts
   create src/polyfills.ts
   create src/styles.css
   create src/test.ts
   create src/tsconfig.app.json
   create src/tsconfig.spec.json
   create src/typings.d.ts
   create .angular-cli.json
   create e2e/app.e2e-spec.ts
   create e2e/app.po.ts
   create e2e/tsconfig.e2e.json
   create karma.conf.js
   create package.json
  Fri Aug 04 2017 11:58:04 INFO SERVICE CLI KERNEL  :   create protractor.conf.js
   create tsconfig.json
   create tslint.json
  Fri Aug 04 2017 11:58:05 INFO SERVICE CLI KERNEL  : You can `ng set --global packageManager=yarn`.
  Fri Aug 04 2017 11:58:05 INFO SERVICE CLI KERNEL  : Installing packages for tooling via npm.
  Fri Aug 04 2017 11:59:52 INFO SERVICE CLI KERNEL  : Installed packages for tooling via npm.
  Fri Aug 04 2017 11:59:52 INFO SERVICE CLI KERNEL  : Project 'helloBundle' successfully created.
  Fri Aug 04 2017 11:59:52 INFO SERVICE CLI KERNEL  : child process exited with code 0
  Fri Aug 04 2017 11:59:52 INFO SERVICE Angular Cli   : npm install in /tmp/helloBundle
  Fri Aug 04 2017 11:59:52 INFO SERVICE CLI KERNEL  : Run Spawn : npm install
  Fri Aug 04 2017 12:00:01 INFO SERVICE CLI KERNEL  : up to date in 7.428s
  Fri Aug 04 2017 12:00:01 INFO SERVICE CLI KERNEL  : child process exited with code 0
  Fri Aug 04 2017 12:00:01 INFO SERVICE Angular Cli   : npm install in /tmp/helloBundle
  Fri Aug 04 2017 12:00:01 INFO SERVICE CLI KERNEL  : Run Spawn : npm install @ngtools/webpack
  Fri Aug 04 2017 12:00:13 INFO SERVICE CLI KERNEL  : + @ngtools/webpack@1.5.5
 updated 1 package in 11.19s
  Fri Aug 04 2017 12:00:13 INFO SERVICE CLI KERNEL  : child process exited with code 0
  Fri Aug 04 2017 12:00:13 INFO SERVICE Angular Cli   :  Generate Angular module : ng generate module --spec --routing -m app hello in /tmp/helloBundle
  Fri Aug 04 2017 12:00:13 INFO SERVICE CLI KERNEL  : Run Spawn : /Users/cci/repository/nodefony-core/node_modules/.bin/ng generate module --spec --routing -m app hello
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  : installing module
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  :   create src/app/hello/hello-routing.module.ts
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  :   create src/app/hello/hello.module.spec.ts
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  :   create src/app/hello/hello.module.ts
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  :   update src/app/app.module.ts
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  : child process exited with code 0
  Fri Aug 04 2017 12:00:16 INFO SERVICE Angular Cli   :  eject  webpack config angular : ng eject --environment dev -dev
  Fri Aug 04 2017 12:00:16 INFO SERVICE CLI KERNEL  : Run Spawn : /Users/cci/repository/nodefony-core/node_modules/.bin/ng eject --environment dev -dev
  Fri Aug 04 2017 12:00:22 INFO SERVICE CLI KERNEL  : ==========================================================================================
 Ejection was successful.
 To run your builds, you now need to do the following commands:
    - "npm run build" to build.
    - "npm test" to run unit tests.
    - "npm start" to serve the app using webpack-dev-server.
    - "npm run e2e" to run protractor.

 Running the equivalent CLI commands will result in an error.

 ==========================================================================================
 Some packages were added. Please run "npm install".

  Fri Aug 04 2017 12:00:22 INFO SERVICE CLI KERNEL  : child process exited with code 0
  Fri Aug 04 2017 12:00:22 INFO SERVICE Angular Cli   : npm install in /Users/cci/repository/nodefony-core/src/bundles/helloBundle
  Fri Aug 04 2017 12:00:22 INFO SERVICE CLI KERNEL  : Run Spawn : npm install
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : up to date in 10.268s
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : child process exited with code 0
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Force Create Directory :helloBundle
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :Command
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :controller
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :defaultController.js
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :services
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :tests
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :helloBundleTest.js
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :Resources
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :config
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :config.yml
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :routing.yml
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :security.yml
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :public
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :js
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :hello.js
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :css
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :hello.css
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :images
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :assets
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :js
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :css
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :fonts
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :images
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :translations
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :views
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :index.html.twig
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :doc
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :1.0
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :readme.md
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create symbolic link :Default
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :core
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create Directory :Entity
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :helloBundle.js
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : Create File      :readme.md
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : INSTALL ASSETS LINK IN WEB PUBLIC DIRECTORY  : /Users/cci/repository/nodefony-core/web/
  Fri Aug 04 2017 12:00:34 INFO SERVICE CLI KERNEL  : INSTALL LINK IN /web TOTAL SIZE : 27 MB
 ┌─────────┬───────────────────┬────────────────────────────────────────────┬───────────┬────────────────┐
 │ BUNDLES │ DESTINATION PATH  │ SOURCE PATH                                │ SIZE      │ ASSETS COMPILE │
 ├─────────┼───────────────────┼────────────────────────────────────────────┼───────────┼────────────────┤
 │ hello   │ ./web/helloBundle │ ./src/bundles/helloBundle/Resources/public │ 483 bytes │ 0 bytes        │
 └─────────┴───────────────────┴────────────────────────────────────────────┴───────────┴────────────────┘
  Fri Aug 04 2017 12:00:34 INFO CONSOLE   : NODEFONY Kernel Life Cycle Terminate CODE : 0
</pre>

<h2  id="location">Bundle Files:</h2>
<div class="doc2">
	<p>
        generated files  : Now an angular project is merged into Nodefony Bundle
	</p>

	<pre>
$ ll src/bundles/helloBundle
total 688
drwxr-xr-x    3 cci  wheel     102  4 aoû 12:00 Command
drwxr-xr-x    3 cci  wheel     102  4 aoû 12:00 Entity
-rw-r--r--    1 cci  wheel      26  4 aoû 12:00 README.md
drwxr-xr-x    6 cci  wheel     204  4 aoû 12:00 Resources
drwxr-xr-x    3 cci  wheel     102  4 aoû 12:00 controller
drwxr-xr-x    3 cci  wheel     102  4 aoû 12:00 core
drwxr-xr-x    4 cci  wheel     136  4 aoû 12:00 doc
drwxr-xr-x    5 cci  wheel     170  4 aoû 11:58 <strong>e2e</strong>
-rwxr-xr-x    1 cci  wheel    2385  4 aoû 12:00 helloBundle.js
-rw-r--r--    1 cci  wheel     924  4 aoû 11:58 <strong>karma.conf.js</strong>
drwxr-xr-x  730 cci  wheel   24820  4 aoû 12:00 node_modules
-rw-r--r--    1 cci  wheel  308626  4 aoû 12:00 package-lock.json
-rw-r--r--    1 cci  wheel    2095  4 aoû 12:00 package.json
-rw-r--r--    1 cci  wheel     722  4 aoû 11:58 <strong>protractor.conf.js</strong>
drwxr-xr-x    3 cci  wheel     102  4 aoû 12:00 services
drwxr-xr-x   14 cci  wheel     476  4 aoû 11:58 <strong>src</strong>
drwxr-xr-x    3 cci  wheel     102  4 aoû 12:00 tests
-rw-r--r--    1 cci  wheel     363  4 aoû 11:58 <strong>tsconfig.json</strong>
-rw-r--r--    1 cci  wheel    3040  4 aoû 11:58 <strong>tslint.json</strong>
-rw-r--r--    1 cci  wheel   11733  4 aoû 12:00 <strong>webpack.config.js</strong>
	</pre>
<p>
    you can  find Angular cli  generated files in <strong> src </strong>
</p>
<pre>
$ ll src/bundles/helloBundle/src
total 80
drwxr-xr-x  8 cci  wheel   272  4 aoû 12:00 app
drwxr-xr-x  3 cci  wheel   102  4 aoû 11:58 assets
drwxr-xr-x  4 cci  wheel   136  4 aoû 11:58 environments
-rw-r--r--  1 cci  wheel  5430  4 aoû 11:58 favicon.ico
-rw-r--r--  1 cci  wheel   298  4 aoû 11:58 index.html
-rw-r--r--  1 cci  wheel   336  4 aoû 11:58 main.ts
-rw-r--r--  1 cci  wheel  2480  4 aoû 11:58 polyfills.ts
-rw-r--r--  1 cci  wheel    80  4 aoû 11:58 styles.css
-rw-r--r--  1 cci  wheel  1085  4 aoû 11:58 test.ts
-rw-r--r--  1 cci  wheel   211  4 aoû 12:00 tsconfig.app.json
-rw-r--r--  1 cci  wheel   304  4 aoû 11:58 tsconfig.spec.json
-rw-r--r--  1 cci  wheel   104  4 aoû 11:58 typings.d.ts
</pre>

</div>
<h2  id="location">Run Project :</h2>
<div class="doc2">
	<p>

	</p>
<pre>
./nodefony dev

...
11% building modules
...
95% emitting
Fri Aug 04 2017 12:30:49 INFO SERVICE WEBPACK   : RUN WEBPACK COMPILER : helloBundle COMPILE ENTRY POINT :
┌───────────────────┬─────────────────────────────────────────────────────────────────┬──────────────────┬─────────────────────┬───────────────┬───────────────────────────────────────────────────────────────────────────────────┬─────────┐
│ ENTRY NAME [name] │ ENTRY                                                           │ OUTPUT FILE NAME │ OUTPUT LIBRARY NANE │ OUTPUT TARGET │ PUBLIC PATH                                                                       │ WATCHER │
├───────────────────┼─────────────────────────────────────────────────────────────────┼──────────────────┼─────────────────────┼───────────────┼───────────────────────────────────────────────────────────────────────────────────┼─────────┤
│ main              │ webpack-dev-server/client?https://localhost:5152/,./src/main.ts │ [name].bundle.js │                     │ var           │ /Users/cci/repository/nodefony-core/src/bundles/helloBundle/Resources/public/dist │ true    │
├───────────────────┼─────────────────────────────────────────────────────────────────┼──────────────────┼─────────────────────┼───────────────┼───────────────────────────────────────────────────────────────────────────────────┼─────────┤
│ polyfills         │ ./src/polyfills.ts                                              │ [name].bundle.js │                     │ var           │ /Users/cci/repository/nodefony-core/src/bundles/helloBundle/Resources/public/dist │ true    │
├───────────────────┼─────────────────────────────────────────────────────────────────┼──────────────────┼─────────────────────┼───────────────┼───────────────────────────────────────────────────────────────────────────────────┼─────────┤
│ styles            │ ./src/styles.css                                                │ [name].bundle.js │                     │ var           │ /Users/cci/repository/nodefony-core/src/bundles/helloBundle/Resources/public/dist │ true    │
└───────────────────┴─────────────────────────────────────────────────────────────────┴──────────────────┴─────────────────────┴───────────────┴───────────────────────────────────────────────────────────────────────────────────┴─────────┘
 Fri Aug 04 2017 12:30:49 INFO SERVICE WEBPACK   : WATCHING BUNDLE : helloBundle webpack.config.js
 Fri Aug 04 2017 12:30:49 INFO SERVICE WEBPACK   : Hash: b4026d8677f7a60bb907
Version: webpack 3.4.1
Time: 24257ms
                  Asset       Size  Chunks                    Chunk Names
     main.bundle.js.map    80.8 kB       1  [emitted]         main
    polyfills.bundle.js     204 kB       0  [emitted]         polyfills
       styles.bundle.js    11.3 kB       2  [emitted]         styles
       vendor.bundle.js    2.53 MB       3  [emitted]  [big]  vendor
       inline.bundle.js    5.84 kB       4  [emitted]         inline
polyfills.bundle.js.map     230 kB       0  [emitted]         polyfills
         main.bundle.js    70.5 kB       1  [emitted]         main
   styles.bundle.js.map    14.4 kB       2  [emitted]         styles
   vendor.bundle.js.map    3.05 MB       3  [emitted]         vendor
   inline.bundle.js.map    5.92 kB       4  [emitted]         inline
            favicon.ico    5.43 kB          [emitted]
           ./index.html  704 bytes          [emitted]
[./node_modules/@angular/core/@angular/core.es5.js] ./src/bundles/helloBundle/node_modules/@angular/core/@angular/core.es5.js 489 kB {3} [built]
[./node_modules/@angular/platform-browser-dynamic/@angular/platform-browser-dynamic.es5.js] ./src/bundles/helloBundle/node_modules/@angular/platform-browser-dynamic/@angular/platform-browser-dynamic.es5.js 5.88 kB {3} [built]
[./node_modules/core-js/es6/reflect.js] ./src/bundles/helloBundle/node_modules/core-js/es6/reflect.js 717 bytes {0} [built]
[./node_modules/core-js/es7/reflect.js] ./src/bundles/helloBundle/node_modules/core-js/es7/reflect.js 510 bytes {0} [built]
[./node_modules/css-loader/index.js?{"sourceMap":false,"importLoaders":1}!./node_modules/postcss-loader/index.js?{"ident":"postcss"}!./src/styles.css] ./src/bundles/helloBundle/node_modules/css-loader?{"sourceMap":false,"importLoaders":1}!./src/bundles/helloBundle/node_modules/postcss-loader?{"ident":"postcss"}!./src/bundles/helloBundle/src/styles.css 240 bytes {2} [built]
[./node_modules/webpack-dev-server/client/index.js?https:/localhost:5152] ./src/bundles/helloBundle/node_modules/webpack-dev-server/client?https://localhost:5152/ 5.68 kB {3} [built]
[./node_modules/zone.js/dist/zone.js] ./src/bundles/helloBundle/node_modules/zone.js/dist/zone.js 113 kB {0} [built]
[./src/app/app.module.ts] ./src/bundles/helloBundle/src/app/app.module.ts 1.21 kB {1} [built]
   [0] multi webpack-dev-server/client?https://localhost:5152/ ./src/main.ts 40 bytes {1} [built]
   [1] multi ./src/polyfills.ts 28 bytes {0} [built]
[./src/environments/environment.ts] ./src/bundles/helloBundle/src/environments/environment.ts 509 bytes {1} [built]
[./src/main.ts] ./src/bundles/helloBundle/src/main.ts 367 bytes {1} [built]
[./src/polyfills.ts] ./src/bundles/helloBundle/src/polyfills.ts 2.5 kB {0} [built]
[./src/styles.css] ./src/bundles/helloBundle/src/styles.css 1.08 kB {2} [built]
   [2] multi ./src/styles.css 28 bytes {2} [built]
    + 246 hidden modules
Child html-webpack-plugin for "index.html":
           Asset     Size  Chunks  Chunk Names
    ./index.html  3.01 kB       0
    [./node_modules/html-webpack-plugin/lib/loader.js!./src/index.html] ./src/bundles/helloBundle/node_modules/html-webpack-plugin/lib/loader.js!./src/bundles/helloBundle/src/index.html 347 bytes {0} [built]
</pre>

<h2  id="nodefony">ACCEES Angular  Project :</h2>
<center>
    <p>
        See angular project : https://localhost:5152/hello
    </p>
    <img src="/documentationBundle/images/angular.png"></img>
</center>

</div>

<h2  id="nodefony">Nodefony Angular  :</h2>
<h3 name="renderJson" id="renderJson">Rendering Angular Project :</h3>
<div class="doc3 ">

	<div  class="panel panel-info">
		<div class="panel-heading"><strong>Nodefony Angular Configurations</strong>  </div>
        <div class="alert alert-warning" role="alert">
            Nodefony overload Webpack Angular WebPack Configuration
			<ul>
				<li>
					output  : "src/bundles/helloBundle/Resources/public/dist",
				</li>
				<li>
					publicPath : "/helloBundle/dist",
				</li>
			</ul>
		</div>
		<div class="panel-body ">
			<ul class="nav nav-tabs">
  				<li role="presentation" class="active"><a data-target="#routing4" data-toggle="tab">Routing</a></li>
  				<li role="presentation" ><a data-target="#controler4" data-toggle="tab">Controller</a></li>
  				<li role="presentation" ><a data-target="#index4" data-toggle="tab">index.html</a></li>
  				<li role="presentation" ><a data-target="#webpack4" data-toggle="tab">webpack.config.js</a></li>
			</ul>

			<div class="tab-content ">
				<div id="routing4" class="tab-pane active">
					<br>
					<p>
					URL : <code> https://localhost:5152/hello </code>
					</p>
					<pre>
hello:
  pattern:  /hello*
  defaults: {"controller": "helloBundle:default:index"}
					</pre>
				</div>
				<div id="controler4" class="tab-pane ">
					<pre>
module.exports = class defaultController extends nodefony.controller {

	constructor (container, context){
		super(container, context);
	}

	/**
 	*
 	*	@method indexAction
 	*
 	*/
	indexAction (){
		try {
	           let index = path.resolve( this.bundle.publicPath, "dist", "index.html");
               let file = new nodefony.fileClass(index);
               return this.renderResponse( file.content(file.encoding) );
        }catch(e){
	           throw e ;
        }
	}
};
					</pre>
				</div>
                <div id="index4" class="tab-pane">
                    <pre>
&lt!doctype html&gt
&lthtml lang="en"&gt
&lthead&gt
  &ltmeta charset="utf-8"&gt
  &lttitle&gtHelloBundle&lt/title&gt
  &ltbase href="/"&gt

  &ltmeta name="viewport" content="width=device-width, initial-scale=1"&gt
  &ltlink rel="icon" type="image/x-icon" href="favicon.ico"&gt
&lt/head&gt
&ltbody&gt
  &ltapp-root&gt&lt/app-root&gt
&ltscript type="text/javascript" src="/helloBundle/dist/inline.bundle.js"&gt&lt/script&gt
&ltscript type="text/javascript" src="/helloBundle/dist/polyfills.bundle.js"&gt&lt/script&gt
&ltscript type="text/javascript" src="/helloBundle/dist/styles.bundle.js"&gt&lt/script&gt
&ltscript type="text/javascript" src="/helloBundle/dist/vendor.bundle.js"&gt&lt/script&gt
&ltscript type="text/javascript" src="/helloBundle/dist/main.bundle.js"&gt&lt/script&gt
&lt/body&gt
&lt/html&gt
                    </pre>
			    </div>

                <div id="webpack4" class="tab-pane">
                    <pre>
const fs = require('fs');
const path = require('path');
const ProgressPlugin = require('webpack/lib/ProgressPlugin');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const autoprefixer = require('autoprefixer');
const postcssUrl = require('postcss-url');
const cssnano = require('cssnano');

const { NoEmitOnErrorsPlugin, SourceMapDevToolPlugin, NamedModulesPlugin } = require('webpack');
const { GlobCopyWebpackPlugin, BaseHrefWebpackPlugin } = require('@angular/cli/plugins/webpack');
const { CommonsChunkPlugin } = require('webpack').optimize;
const { AotPlugin } = require('@ngtools/webpack');

const nodeModules = path.join(process.cwd(), 'node_modules');
const realNodeModules = fs.realpathSync(nodeModules);
const genDirNodeModules = path.join(process.cwd(), 'src', '$$_gendir', 'node_modules');
const entryPoints = ["inline","polyfills","sw-register","styles","vendor","main"];
const minimizeCss = false;
const baseHref = "";
const deployUrl = "";
const postcssPlugins = function () {
        // safe settings based on: https://github.com/ben-eb/cssnano/issues/358#issuecomment-283696193
        const importantCommentRe = /@preserve|@license|[@#]\s*source(?:Mapping)?URL|^!/i;
        const minimizeOptions = {
            autoprefixer: false,
            safe: true,
            mergeLonghand: false,
            discardComments: { remove: (comment) => !importantCommentRe.test(comment) }
        };
        return [
            postcssUrl({
                url: (URL) => {
                    // Only convert root relative URLs, which CSS-Loader won't process into require().
                    if (!URL.startsWith('/') || URL.startsWith('//')) {
                        return URL;
                    }
                    if (deployUrl.match(/:\/\//)) {
                        // If deployUrl contains a scheme, ignore baseHref use deployUrl as is.
                        return `${deployUrl.replace(/\/$/, '')}${URL}`;
                    }
                    else if (baseHref.match(/:\/\//)) {
                        // If baseHref contains a scheme, include it as is.
                        return baseHref.replace(/\/$/, '') +
                            `/${deployUrl}/${URL}`.replace(/\/\/+/g, '/');
                    }
                    else {
                        // Join together base-href, deploy-url and the original URL.
                        // Also dedupe multiple slashes into single ones.
                        return `/${baseHref}/${deployUrl}/${URL}`.replace(/\/\/+/g, '/');
                    }
                }
            }),
            autoprefixer(),
        ].concat(minimizeCss ? [cssnano(minimizeOptions)] : []);
    };
module.exports = {
  "resolve": {
    "extensions": [
      ".ts",
      ".js"
    ],
    "modules": [
      "./node_modules",
      "./node_modules"
    ],
    "symlinks": true
  },
  "resolveLoader": {
    "modules": [
      "./node_modules",
      "./node_modules"
    ]
  },
  "entry": {
    "main": [
      "./src/main.ts"
    ],
    "polyfills": [
      "./src/polyfills.ts"
    ],
    "styles": [
      "./src/styles.css"
    ]
  },
  "output": {
    "path": path.join(process.cwd(), "dist"),
    "filename": "[name].bundle.js",
    "chunkFilename": "[id].chunk.js"
  },
  "module": {
    "rules": [
      {
        "enforce": "pre",
        "test": /\.js$/,
        "loader": "source-map-loader",
        "exclude": [
          /(\\|\/)node_modules(\\|\/)/
        ]
      },
      {
        "test": /\.html$/,
        "loader": "raw-loader"
      },
      {
        "test": /\.(eot|svg|cur)$/,
        "loader": "file-loader?name=[name].[hash:20].[ext]"
      },
      {
        "test": /\.(jpg|png|webp|gif|otf|ttf|woff|woff2|ani)$/,
        "loader": "url-loader?name=[name].[hash:20].[ext]&limit=10000"
      },
      {
        "exclude": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.css$/,
        "use": [
          "exports-loader?module.exports.toString()",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          }
        ]
      },
      {
        "exclude": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.scss$|\.sass$/,
        "use": [
          "exports-loader?module.exports.toString()",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          },
          {
            "loader": "sass-loader",
            "options": {
              "sourceMap": false,
              "precision": 8,
              "includePaths": []
            }
          }
        ]
      },
      {
        "exclude": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.less$/,
        "use": [
          "exports-loader?module.exports.toString()",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          },
          {
            "loader": "less-loader",
            "options": {
              "sourceMap": false
            }
          }
        ]
      },
      {
        "exclude": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.styl$/,
        "use": [
          "exports-loader?module.exports.toString()",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          },
          {
            "loader": "stylus-loader",
            "options": {
              "sourceMap": false,
              "paths": []
            }
          }
        ]
      },
      {
        "include": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.css$/,
        "use": [
          "style-loader",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          }
        ]
      },
      {
        "include": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.scss$|\.sass$/,
        "use": [
          "style-loader",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          },
          {
            "loader": "sass-loader",
            "options": {
              "sourceMap": false,
              "precision": 8,
              "includePaths": []
            }
          }
        ]
      },
      {
        "include": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.less$/,
        "use": [
          "style-loader",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          },
          {
            "loader": "less-loader",
            "options": {
              "sourceMap": false
            }
          }
        ]
      },
      {
        "include": [
          path.join(process.cwd(), "src/styles.css")
        ],
        "test": /\.styl$/,
        "use": [
          "style-loader",
          {
            "loader": "css-loader",
            "options": {
              "sourceMap": false,
              "importLoaders": 1
            }
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "postcss",
              "plugins": postcssPlugins
            }
          },
          {
            "loader": "stylus-loader",
            "options": {
              "sourceMap": false,
              "paths": []
            }
          }
        ]
      },
      {
        "test": /\.ts$/,
        "loader": "@ngtools/webpack"
      }
    ]
  },
  "plugins": [
    new NoEmitOnErrorsPlugin(),
    new GlobCopyWebpackPlugin({
      "patterns": [
        "assets",
        "favicon.ico"
      ],
      "globOptions": {
        "cwd": path.join(process.cwd(), "src"),
        "dot": true,
        "ignore": "**/.gitkeep"
      }
    }),
    new ProgressPlugin(),
    new HtmlWebpackPlugin({
      "template": "./src/index.html",
      "filename": "./index.html",
      "hash": false,
      "inject": true,
      "compile": true,
      "favicon": false,
      "minify": false,
      "cache": true,
      "showErrors": true,
      "chunks": "all",
      "excludeChunks": [],
      "title": "Webpack App",
      "xhtml": true,
      "chunksSortMode": function sort(left, right) {
        let leftIndex = entryPoints.indexOf(left.names[0]);
        let rightindex = entryPoints.indexOf(right.names[0]);
        if (leftIndex > rightindex) {
            return 1;
        }
        else if (leftIndex < rightindex) {
            return -1;
        }
        else {
            return 0;
        }
    }
    }),
    new BaseHrefWebpackPlugin({}),
    new CommonsChunkPlugin({
      "minChunks": 2,
      "async": "common"
    }),
    new CommonsChunkPlugin({
      "name": [
        "inline"
      ],
      "minChunks": null
    }),
    new CommonsChunkPlugin({
      "name": [
        "vendor"
      ],
      "minChunks": (module) => {
                return module.resource
                    && (module.resource.startsWith(nodeModules)
                        || module.resource.startsWith(genDirNodeModules)
                        || module.resource.startsWith(realNodeModules));
            },
      "chunks": [
        "main"
      ]
    }),
    new SourceMapDevToolPlugin({
      "filename": "[file].map[query]",
      "moduleFilenameTemplate": "[resource-path]",
      "fallbackModuleFilenameTemplate": "[resource-path]?[hash]",
      "sourceRoot": "webpack:///"
    }),
    new NamedModulesPlugin({}),
    new AotPlugin({
      "mainPath": "main.ts",
      "hostReplacementPaths": {
        "environments/environment.ts": "environments/environment.ts"
      },
      "exclude": [],
      "tsConfigPath": "src/tsconfig.app.json",
      "skipCodeGeneration": true
    })
  ],
  "node": {
    "fs": "empty",
    "global": true,
    "crypto": "empty",
    "tls": "empty",
    "net": "empty",
    "process": true,
    "module": false,
    "clearImmediate": false,
    "setImmediate": false
  },
  "devServer": {
    "historyApiFallback": true
  }
};
                    </pre>
                </div>
    </div>
		</div>
	</div>
</div>
