<div class="app-header">
  <nav class="navbar navbar-fixed-top bg-white" role="navigation">

    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a><img alt="nodefony" style="margin-left:20px ;margin-top:10px ;float:left" width="32px" height="29px" src="/framework-bundle/images/nodefony-logo.png">
          <a>
            <a class="navbar-brand text-primary" href="" style="margin-left:0px">
              <strong class="text-primary">NODEFONY MONITORING</strong>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="custom-collapse">

            <ul class="nav navbar-nav navbar-left"></ul>

            <ul class="nav navbar-nav navbar-right ">
              {% if user.username %}
                <li style='top:12px ;margin-right: 0px' class="dropdown">
                  {% if user.image and user.image != "  " %}
                    <img style='top:12px' width="26px" height="26px" src="{{ user.image }}" alt=""></img>
                  {% else %}
                    <img style='top:12px' width="26px" height="26px" src="/framework-bundle/images/nodefony-logo-white.png" alt=""></img>
                  {% endif %}
                </li>
                <li style='top:12px ;margin-right: 30px' class="dropdown">
                  <strong class="text-primary">{{user.username}}</strong>
                </li>
              {% else %}
                <li style='top:12px ;right:20px'>
                  <strong class="text-primary">
                    VERSION
                    {{version}}
                    ©</strong>
                </li>
              {% endif %}

            </ul>
          </div>

        </div>
        <!-- .container -->

      </nav>
    </div>