<div class="col-12 col-md-3 col-xl-2 nodefony-doc-nav">

  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link"  href="{{url("nodefony-doc")}}" role="tab" aria-selected="true">Home</a>
    <a class="nav-link active"  href="{{url("nodefony-readme",{bundle:"elastic"})}}" role="tab" aria-selected="true">Readme</a>
  </div>

</div>
