
<div class="page-header">
  <h1>Configuration Bundle </h1>

</div>


<h2>Location Bundle configurations in File System </h2>
<div class="doc2">
<pre>
./src/nodefony/bundles/nameBundle/Resources/config/

├── config.yml
├── routing.js
├── security.yml
├── services.js
├── webpack
│   ├── webpack.dev.config.js
│   └── webpack.prod.config.js
└── webpack.config.js
</pre>
</div>

<h2> Global Configuration : <code>config.yml</code> <h2>
<div class="doc2">

</div>

<h2> Routing Configuration  : <code>routing.js</code> <h2>
<div class="doc2">

</div>

<h2> Services Configuration  : <code>services.js</code> <h2>
<div class="doc2">

</div>

<h2> Firewall Configuration  : <code>security.yml</code> <h2>
<div class="doc2">

</div>

<h2> Webpack Configurations  :  <h2>

<div class="doc4">
    <ul>
        <li><code>webpack.config.js</code> </li>
        <li><code>webpack/webpack.dev.config.js</code> </li>
        <li><code>webpack/webpack.prod.config.js </code></li>
    </ul>

</div>
