<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Template mailing</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    /* Fonts and Content */
    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
    body { margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }

    @media only screen and (max-width: 480px) {
      table[class=w275], td[class=w275], img[class=w275] { width:135px !important; }
      table[class=w30], td[class=w30], img[class=w30] { width:10px !important; }
      table[class=w580], td[class=w580], img[class=w580] { width:280px !important; }
      table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }
      img{ height:auto;}
      /*illisible, on passe donc sur 3 lignes */
      table[class=w180], td[class=w180], img[class=w180] {
        width:280px !important;
        display:block;
      }
      td[class=w20]{ display:none; }
    }

  </style>

</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" >
    <tbody>
      <tr>
        <td align="center" >
          <table  cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td class="w640"  width="640" height="10"></td>
              </tr>

              <tr>
                <td align="center" class="w640"  width="640" height="20"> <a style="color:#ffffff; font-size:12px;" href="#"><span style="color:#ffffff; font-size:12px;">Voir le contenu de ce mail en ligne</span></a> </td>
              </tr>
              <tr>
                <td class="w640"  width="640" height="10"></td>
              </tr>
              <!-- entete -->
              <tr class="pagetoplogo">
                <td class="w640"  width="640">
                  <table  class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30"  width="30"></td>
                        <td  class="w580"  width="580" valign="middle" align="left">
                          <div class="pagetoplogo-content">
                            <img class="w580" style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="https://cdn.nodefony.com/app/images/app-logo.png" alt="Mon Logo" />
                          </div>
                        </td>
                        <td class="w30"  width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <!-- separateur horizontal -->
              <tr>
                <td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
              </tr>

              <!-- contenu -->
              <tr class="content">
                <td class="w640" class="w640"  width="640" bgcolor="#ffffff">
                  <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td  class="w30"  width="30"></td>
                        <td  class="w580"  width="580">
                          <!-- une zone de contenu -->
                          <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="w580"  width="580">
                                  <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                    Un titre ici  </h2>

                                    <div align="left" class="article-content">
                                      <p> On peut mettre des paragraphes</p>
                                      <p>
                                        Chocolate bar marshmallow dessert wafer topping sugar plum pudding. Dragée dessert gummi bears brownie powder soufflé tootsie roll <a href="">cotton candy tiramisu. </a>
                                      </p>
                                      <p>
                                        Lemon drops icing croissant. Sweet cotton candy macaroon gingerbread chocolate bar wafer cotton candy powder sugar plum.
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="w580"  width="580" height="1" bgcolor="#c7c5c5"></td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- fin zone -->

                            <!-- une autre zone de contenu -->
                            <table class="w580"  width="580" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  <td colspan="3">
                                    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                      Une zone avec deux colonnes </h2>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="w275"  width="275" valign="top">
                                      <div align="left" class="article-content">
                                        <p> Avec des listes ça marche aussi </p>
                                        <ul>
                                          <li> des kiwis</li>
                                          <li> des chatons</li>
                                          <li> des citrons </li>
                                        </ul>
                                      </div>
                                    </td>
                                    <td class="w30"  width="30" class="w30"></td>
                                    <td class="w275"  width="275" valign="top">
                                      <div align="left" class="article-content">
                                        <p> Lemon drops icing croissant. Sweet cotton candy macaroon gingerbread chocolate bar wafer cotton candy powder sugar plum. </p>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="3" class="w580" height="1" bgcolor="#c7c5c5"></td>
                                  </tr>

                                </tbody>
                              </table>

                              <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr>
                                    <td colspan="5">
                                      <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                        Mise en page 3 colonnes </h2>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="w180"  width="180" valign="top">
                                        <div align="left" class="article-content">
                                          <p>Des kiwis et des chatons !! Des kiwis et des chatons !!</p>
                                        </div>
                                      </td>

                                      <td class="w20"  width="20"></td>
                                      <td class="w180"  width="180" valign="top">
                                        <div align="left" class="article-content">
                                          <p>Des kiwis et des chatons !! Des kiwis et des chatons !!</p>
                                        </div>
                                      </td>

                                      <td class="w20"  width="20"></td>
                                      <td class="w180"  width="180" valign="top">
                                        <div align="left" class="article-content">
                                          <p><img class="w180" width="180" src="https://cdn.nodefony.com/app/images/app-logo.png" alt="un chaton"/></p>
                                        </div>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td colspan="5" class="w580"  width="580" height="1" bgcolor="#c7c5c5"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td class="w30" class="w30"  width="30"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <!--  separateur horizontal de 15px de haut -->
                    <tr>
                      <td class="w640"  width="640" height="15" bgcolor="#ffffff"></td>
                    </tr>

                    <!-- pied de page -->
                    <tr class="pagebottom">
                      <td class="w640"  width="640">
                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                          <tbody>
                            <tr>
                              <td colspan="5" height="10"></td>
                            </tr>
                            <tr>
                              <td class="w30"  width="30"></td>
                              <td class="w580"  width="580" valign="top">
                                <p align="right" class="pagebottom-content-left">
                                  <a style="color:#255D5C;" href="nodefony.net"><span style="color:#255D5C;">Nodefony</span></a>
                                </p>
                              </td>

                              <td class="w30"  width="30"></td>
                            </tr>
                            <tr>
                              <td colspan="5" height="10"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="w640"  width="640" height="60"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </body>
      </html>
