<section>
  <section>
    <div class="container-fluid">
      <h2>Nodefony Generator</h2>
      <h4 style="text-align:center">Create Project</h4>
      <span class="">
        <h5 style="">Command Line Interface</h5>
        <p>
          YOU CAN USE CLI INTERACTIVE MODE TO BUILD PROJECT (nodefony without args)
        </p>
        <pre><code class="hljs bash" >
      $ nodefony
           _   _    ___    ____    _____   _____    ___    _   _  __   __
          | \ | |  / _ \  |  _ \  | ____| |  ___|  / _ \  | \ | | \ \ / /
          |  \| | | | | | | | | | |  _|   | |_    | | | | |  \| |  \ V /
          | |\  | | |_| | | |_| | | |___  |  _|   | |_| | | |\  |   | |
          |_| \_|  \___/  |____/  |_____| |_|      \___/  |_| \_|   |_|

       Version : 4.2.0-beta.2 Platform : darwin Process : nodefony PID : 75632

      Thu Feb 28 2019 11:33:00 INFO nodefony : WELCOME NODEFONY CLI 4.2.0-beta.2
      ?  Nodefony CLI :  (Use arrow keys)
      ❯ Create Nodefony Project
      PM2 Tools
      --------
      Help
      Quit

      ? Nodefony CLI :  Create Nodefony Project
      ? Enter Nodefony Project Name : nodefony-starter
      ? Enter short description description : nodefony-starter
      ? Project : Path /Users/documents
      ? Please Enter Author Full Name : admin
      ? Please Enter Email Author : admin@nodefony.com
      ? Enter Server Domain : 0.0.0.0
      ? Enter server Domain http Port  : 5151
      ? Enter Server Secure Domain https Port  : 5152
      ? Choose default ORM  (Mapping Objet Relationnel) : sequelize
      ? Choose a default Package Manager :  npm
      ? Do You Want Generate Bundle? No
      ...
        </code></pre>
      </span>
    </div>
  </section>

</section>
