<section>
  <h1>Nodefony<sup>® {{nodefony.version}}</sup></h1>
  <h3 style='font-size:2em;text-align:center'>Features </h3>


  <div class="container-fluid" style='font-size:0.8em' >
    <div class="row">
      <div class="col-sm">
        <ul>
          <li>Servers
            <a href="https://nodejs.org/dist/latest-v8.x/docs/api/https.html"> http(s)</a>
          </li>
          <li>Servers <a href="https://github.com/theturtle32/WebSocket-Node">websocket(s)</a></li>
          <li>Servers <a href="#">statics</a></li>
          <li>Servers <a href="#">sockjs</a></li>
          <li>Servers <a href="https://nodejs.org/api/http2.html">http2</a>
            <aside class="notes">
              http2 ready node module provides an implementation of the HTTP/2 (push server ready).
            </aside>
          </li>
          <li>
          Services connections  <a href="#">Redis</a>
          </li>
          <li>
          Services connections  <a href="#">Mongo</a>
          </li>
          <li>
          Services connections  <a href="#">Elasticsearch</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <li>MVC templating <a href="https://github.com/twigjs/twig.js">Twig</a>
          <li>ORM
            <a href="http://docs.sequelizejs.com">Sequelize</a>
            <a href="http://mongoosejs.com/index.html">Mongoose</a>
          </li>
          
          <li><a href="#">Sessions</a>  Manager (orm, memcached)</li>
          <li><a href="#">Webpack</a> Assets management</li>
          <li><a href="https://fr.wikipedia.org/wiki/Web_application_firewall">WAF</a> ( Web application firewall )</li>
          <li><a href="#">Authentication Manager</a> ( oAuth ,ldap, jwt, openid ...)</li>
          <li><a href="#">Authorisations</a></li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <li>Monitororing , Debug Bar</li>
          <li>Unit Test Api</li>
          <li><a href="#">cli</a> Command Line Interface</li>
          <li><a href="#">C++ Addons</a> (Binding in Bundle)</li>
          <li>
            <a href="https://github.com/Unitech/pm2">Production Management</a> PM2
          </li>
        </ul>
      </div>
    </div>
</div>

</section>
